@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Dosis:wght@500&family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Dosis:wght@500&family=Montserrat&family=Open+Sans:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Dosis:wght@500&family=Montserrat&family=Open+Sans:wght@600&family=Raleway:wght@500&display=swap");


* {
  font-family: "Montserrat", sans-serif;
}

.footer-distributed {
  background-color: #eee;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #3e3e3e;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  transition: 0.3s;
}

.footer-left p:hover{
    color: black;
}
/* Footer links */

.design_by{
    text-align: center;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #3e3e3e;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #637179;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  color: deeppink;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
