@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Dosis:wght@500&family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Dosis:wght@500&family=Montserrat&family=Open+Sans:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Dosis:wght@500&family=Montserrat&family=Open+Sans:wght@600&family=Raleway:wght@500&display=swap");

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}


.container-1 {
  border: 1px;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  background-color: white; 
  border-top: 5px;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  transition: 0.3s;
}

a:hover {
  color: deeppink;
}

.container-1:hover {
  background-color: #fadafada;
  opacity: 85%;
}

/* .home:hover{
  background-color: pink;
  color: white;
  transition: 0.3s;
}

.about:hover{
  background-color: pink;
  color: white;
  transition: 0.3s;
}

.contact:hover{
  background-color: pink;
  color: white;
  transition: 0.3s;
}

.news:hover{
  background-color: pink;
  color: white;
  transition: 0.3s;
} */

.logo:hover {
  color: deeppink;
  transition: 0.3s;
}

/* .gallery:hover{
  background-color: pink;
  color: white;
  transition: 0.3s;
}

.blog:hover{
  background-color: pink;
  color: white;
  transition: 0.3s;
} */

.home {
  border: 2px solid;
  background-color: white;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
  width: 50px;
  height: 20px;
}

.about {
  border: 2px solid;
  background-color: white;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
  width: 75px;
  height: 20px;
}

.news {
  border: 2px solid;
  background-color: white;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
  width: 45px;
  height: 20px;
}

.gallery {
  border: 2px solid;
  background-color: white;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
  width: 55px;
  height: 20px;
}

.blog {
  border: 2px solid;
  background-color: white;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
  width: 37px;
  height: 20px;
}

.contact {
  border: 2px solid;
  background-color: white;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
  width: 65px;
  height: 20px;
}

.logo {
  height: 7vh;
  font-size: 15px;
  font-weight: bold;
  margin: 8px;
  margin-left: 1px;
  padding: 1px;
  color: rebeccapurple;
  cursor: pointer;
}

.section1 {
  background: url(https://images.unsplash.com/photo-1581591524425-c7e0978865fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlnaXRhbCUyMGNhbWVyYXxlbnwwfHwwfHw%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid;
  height: 75vh;
  width: 101.5%;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  animation: desktopSiteScroll 11s infinite;
}

/* .img{
height: 75vh;
background-repeat: no-repeat;
background-size: cover; */
/* background-image: url(https://images.unsplash.com/photo-1558522195-e1201b090344?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
/* opacity: 100%;
width:101.5%;
} */

.section-2{
  position: relative;
  text-align:justify;
}

.galleria{
  padding-top: 500px;
}

.text {
  position: absolute;
  margin-top: 30px;
  margin-left: 83px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -30%);
}

/* DYNAMIC TYPING SECTION*/
.we_are{
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
  color: whitesmoke;
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
}

.typing{
  color: rgb(168, 133, 209);
}

h5 {
  text-align: center;
  margin-top: 35px;
  color: white;
}

.btn-div {
  flex: display;
  flex-direction: row;
  margin-top: 120px;
  margin-bottom: 20px;
  text-align: center;
}

.btn1 {
  margin-right: 15px;
  padding: 14px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn1:hover {
  background-color:white;
  transition: 0.3s;
}

.btn2 {
  padding: 14px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.btn2:hover {
  background-color: white;
  transition: 0.3s;
}

.line {
  text-align: center;
  margin-top: -10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.rbg {
  color: rebeccapurple;
}

.h_1 {
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.h_2 {
  font-weight: 600;
  margin-top: 70px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.h_3 {
  font-weight: 600;
  margin-top: 130px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.h_4 {
  font-weight: 600;
  margin-top: 90px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.parag {
  overflow-wrap: break-word;
  word-spacing: 5px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 30px;
}


/* @media (max-width: 775px){
    .container{
      background-color: #D08370;
      display: block;
    }
  } */
